* {
    margin: 0;
    padding: 0;
}

.navpanel {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: black;
}

.navpanel img {
    width: 35px;
}

.navlinks {
    display: flex;
    margin-top: 10px;
    margin-bottom: 5px;
}

.navtext {
    color: white;
    text-align: center;
    padding-top: 15px;
    font-size: 20px;
    font-family: 'Montserrat';
    font-weight: 500;
}

.navlinks img {
    filter: grayscale(100%);
}

.navvk {
    margin-right: 10px;
}

.mainpart {
    background: linear-gradient(360deg, #000000,#383555,#000000);

}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding-top: 10px;

}

.images img {
    width: 550px;
    border-radius: 15px;
    -webkit-box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.24);
    box-shadow: 10px 7px 5px 1px rgba(0, 0, 0, 0.24);
}
.lowtext {
    background-color: black;
    color: rgb(73, 73, 73);
    padding: 10px;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 500;
}
.lowtext a {
    color: rgb(73, 73, 73);
}
#card {
    position: relative;
    display: inline-block;
    margin-bottom: 30px;
}
.images a {
    font-family: 'Montserrat';
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.205);;
    padding: 5px;
    text-decoration: none;
    background-color: #00000057;

}